<div>
    <p>{{name}},</p>
    <p>
        Thanks for registering on Task-Manager. To continue enjoying our service please confirm your email.
    </p>
    <p>
        Click on the link to confirm your email <a href={{url}}>Confirm</a>
    </p>
    <p>
        Regards,

    </p>
    <p>
        Task-Manager Team
    </p>
</div>