<p style='margin-bottom: 1rem;'>Hi {{username}},</p>

<p>This is a reminder for your task
  <b>{{task_name}}</b>
  scheduled for
  <b>{{reminder_schedule}}</b>.
</p>
<p>Complete your task on time and stay productive!</p>