<html>
  <head>
    <title>
      {{title}}
    </title>
  </head>
  <body>
    <div style='margin-bottom:2.5rem;'>

      {{{content}}}
    </div>
    <div>
      Regards,
      <br />
      Task Manager Team
    </div>
  </body>
</html>