<div style='color:rgba(0, 0, 0, 0.75)'>
  <div style='margin-bottom:2.5rem;'>
    <p style='margin-bottom: 1rem;'>Hi {{username}},</p>
    <p>Your OTP for verification is: <b>{{code}}</b></p>
    <p>If you didn't request this OTP, you can safely ignore this email.</p>
  </div>
  <div>
    Regards,
    <br />
    Task Manager Team
  </div>
</div>